/*  fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles or utilites  */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section,
.bottom-section {
  background-color: #ffffff;
  border-radius: 5px;
  width: 870px;
  margin-top: 36px;
  padding-right: 33px;
  padding-top: 40px;
  padding-left: 30px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #d1d1d1;
  margin: 30px 0px;
}

/* Header section styles   */

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #562eff;
  padding: 5px 285px;
  margin: 0;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 40.42px;
  height: 51px;
}

.logo-text {
  font-size: 24px;
  margin-left: 15.58px;
  color: white;
  text-decoration: none;
}
.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  font-size: 16px;
  color: white;
  margin-left: 36px;
  text-decoration: none;
}

/* top section styles goes here  */

/* top players styles  */
.players {
  display: grid;
  grid-row-gap: 29px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 11px;
}

.player {
  display: flex;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  font-weight: 400;
  font-size: 18px;
  margin-left: 16px;
}

/* top blogs styles  */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}

.blog-thumbnail img {
  width: 224px;
  height: 127px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
  font-weight: 500;
}

.blog-info p,
.author {
  font-size: 16px;
  color: #9f9f9f;
}
.author {
  text-decoration: none;
  color: #562eff;
}

/* course styles section  */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 23px;
}

.course {
  /* height: 270px; */
  padding: 13px;
  background-color: #fff;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.bottom-section {
  margin-top: 21px;
}
.course-thumbnail img {
  width: 224px;
  height: 104px;
}

.course-details h3 {
  font-size: 20px;
  font-weight: 580;
}

.instructor {
  color: #ed6b4f;
  font-size: 14.6913px;
}

.course-info {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.ratings {
  color: #ffc014;
}

.ratings i:nth-child(5) {
  color: #aeaeae;
}

.value {
  color: #9f9f9f;
  margin-left: 6px;
}

.duration {
  color: #ff4a60;
  background-color: #ffe4e8;
  border-radius: 14.6913px;
  padding: 4px 6px;
}

/* media queries  */

@media only screen and (max-width: 688px) {
  /* responsive nav-bar  */

  .nav-container,
  .logo a,
  .nav-items {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .nav-items a {
    margin: 0;
    margin-bottom: 10px;
  }

  .logo a,
  .logo-text {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
  }

  .logo-text {
    margin-left: 3px;
  }

  /* Responsive top player section  */
  .top-section,
  .bottom-section {
    width: 100%;
  }
  .top-section,
  .bottom-section {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    margin-top: 20px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .player {
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    text-align: center;
  }

  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .blog,
  .course {
    flex-direction: column;
    justify-content: center;
  }
  .blog {
    width: 400px;
  }
  .course {
    width: 253px;
    margin-bottom: 20px;
  }
}
