/*  fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles or utilites  */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9f9f9f;
}

.container {
  display: flex;
  justify-content: center;
}

.top-section {
  background-color: #ffffff;
  border-radius: 5px;
  width: 870px;
  margin-top: 36px;
  padding: 40px 83px 30px 30px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 0px;
}

/* Header section styles   */

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #562eff;
  padding: 5px 285px;
  margin: 0;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 40.42px;
  height: 51px;
}

.logo-text {
  font-size: 24px;
  margin-left: 15.58px;
  color: white;
  text-decoration: none;
}
.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  font-size: 16px;
  color: white;
  margin-left: 36px;
  text-decoration: none;
}

/* top section styles goes here  */

/* top players styles  */
.players {
  display: grid;
  grid-row-gap: 29px;
  grid-template-columns: repeat(3, 1fr);
}

.player {
  display: flex;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  font-weight: 400;
  font-size: 18px;
  margin-left: 16px;
}
